<%- include("partials/header.ejs") %>

<!-- Body area -->
<div class="container">
    <br>
    <h2> <%= question.title %></h2>
    <br>
    <p><%= question.description %></p>
    <hr>

    <h4>Respostas</h4>
    <% answer.forEach(answer => { %>
        
        <div id="card_lt" class="card">
            <div class="card-body ">
                <%= answer.body %>
            </div>
        </div>


    <%}); %>
    <br>
    <form action="/answer" method="post">
        <textarea class="form-control" placeholder="Digite a sua resposta aquii!" 
        name="bodyanswer" ></textarea>
        <input type="text" name="idquestion" value="<%= question.id %>" hidden>
        <br>
         <input type="submit" class="btn btn-primary" value="Responder"></input>
    </form>

</div>

<!-- End area-->
<%- include("partials/footer.ejs") %>